<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Moment</title>
    <script type="text/javascript" src="../static/src/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/moment.js"></script>
    <link rel="stylesheet" href="../static/css/moment.css">
</head>
<body>
    <span id="view-heading">浏览</span>
    <div class="view">

    </div>

    <span id="send-heading">发布</span>
    <div class="send">
        <input type="text" id="send-text">
        <button id="send-submit" onclick="submit()">发布</button>
    </div>

</body>

</html>
