<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>User</title>
    <script type="text/javascript" src="../static/src/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/user.js"></script>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
    <span id="friend-list-heading">好友</span>
    <div id="friend-list"></div>

    <span id="friend-add-heading">添加好友</span>
    <div id="friend-add"></div>

    <span id="friend-req-heading">好友请求</span>
    <div id="friend-req"></div>

    <span id="notif-heading">通知</span>
    <div id="notif"></div>

</body>

</html>